@import '~/components/Variables.scss';

.wall {
  background-color: black;
  border: solid 2px blue;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 75%;

  &.edgeWall {
    // Left/bottom is default orientation
    border: solid 2px blue;
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &.edgeWallRight {
      border: solid 2px blue;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }

  &.vertical {
    display: flex;
    border-top: none;
    border-bottom: none;
    border-left: solid 2px blue;
    border-right: solid 2px blue;
    height: 100%;
    width: 75%;
  }
}
