@import '~/components/Variables.scss';

.wall {
  background-color: black;
  box-sizing: border-box;
  border: 1px solid blue;
  aspect-ratio: 1;
  //box-sizing: border-box;
  flex: 1;

  .border {
    border: 1px solid red;
  }

  &.top {
    border-top: none;
  }
  &.right {
    border-right: none;
  }
  &.bottom {
    border-bottom: none;
  }
  &.left {
    border-left: none;
  }
}
