@import '~/components/Variables.scss';

.player {
  aspect-ratio: 1;
  flex: 1;
  background-color: $pacmanColor;
  width: 28px;
  height: 28px;
  z-index: 999;
  border-radius: 50%;
}

.mouth {
  flex: 1;
  aspect-ratio: 1;
  background-color: black;
  clip-path: polygon(100% 74%, 44% 50%, 108% 21%);

  &.moving {
    animation-name: eat;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
  }

  &.up {
    transform: rotate(-90deg);
  }
  &.down {
    transform: rotate(90deg);
  }
  &.left {
    transform: rotate(180deg);
  }
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 105% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 105% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 105% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 105% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 105% 21%);
  }
}
